body {
    background-color: #f5d3db;
    margin: 50px;
    color: #150875;
    line-height: 2.5rem;;
    
}

p {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1rem;
}

li {
    font-family: 'Gelasio', serif;
    font-size: 1.5rem;
}

img {
    width: 750px;
    border-color: #150875;
    border-width: 1px;
    border-style: solid;
}